<%- include("../partials/header") %>
<div class="container">
	<div class="row justify-content-center mt-3">
		<h1 class="col-12 text-center">Add New Comment to <%= campground.name %></h1>
		<div class="col-10 col-md-8 col-lg-6 col-xl-4 mt-3">
			<form class="" action="/campgrounds/<%= campground._id %>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="text">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a class="" href="/campgrounds/<%= campground._id %>">Go Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>